html, body { position: relative; }
* { -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0; margin: 0; }
body {
  font-family: "Source Han Sans CN", "PingFang SC", "Microsoft Yahei", "SimHei", Helvetica Neue, Helvetica, Arial, sans-serif;
  background: #fff; font-size: 16px; color: #000; margin: 0; padding: 0;
  padding-top: 100px;
}
body.M { padding-top: 80px; font-size: 16px; }
body.S { padding-top: 50px; font-size: 14px; }

a { text-decoration: none; }

.ani { visibility: hidden !important; }

#layout { width: 100%; }

.container { width: auto; max-width: 1200px; position: relative; margin-left: auto; margin-right: auto; }

.btn {
  display: inline-block; text-decoration: none;
  width: 200px; height: 40px; color: #ffffff; border-radius: 20px;
  text-align: center; line-height: 40px; background-color: #0d0d0d;
  vertical-align: top;
}
.btn.green { background-color: #96b521; }
.S .btn { width: 150px; height: 35px; border-radius: 15px; line-height: 30px; }
.XS .btn { width: 100px; height: 30px; border-radius: 15px; line-height: 30px; }

.L .hl, .M .hm, .S .hs { display: none !important; }
.L .vs, .M .vs { display: none !important; }
.S .vs { display: block !important; }

.form { width: 100%; margin: auto; }
.form .field { border: 1px solid #bfbfbf; padding: 10px 15px; background-color: #fff; margin-top: 14px; display: flex;}
.form .field .label { font-size: 18px; line-height: 28px; color: #898989; text-transform: capitalize; width: 11em; border-right: 1px solid #888;}
.form .field .input { font-size: 18px; line-height: 28px; color: #434343; flex: 1; border: none; padding: 0 15px;}
.form .field select {display: block; flex: 1; border: 0; background: transparent;}
.form .submit-btn { width: 100%; font-size: 18px; color: #fff; border: none; background-color: #96b521; padding: 10px 20px; text-transform: uppercase; margin-top: 20px;}
.M .form { width: 100%; margin: auto; }
.M .form .field {  padding: 7px 15px; margin-top: 7px; }
.M .form .field .label { font-size: 14px; line-height: 20px; width: 45%; }
.M .form .field .input { font-size: 14px; line-height: 20px; width: 55%; }
.M .form .field select {display: block; border: 0; background: transparent; width: 55%;}
.S .form { width: 100%; margin: auto; }
.S .form .field {  padding: 7px 15px; margin-top: 7px; }
.S .form .field .label { font-size: 14px; line-height: 16px; width: 36%; }
.S .form .field .input { font-size: 14px; line-height: 16px;  width: 64%; }
.S .form .field select {display: block; flex: 1; border: 0; background: transparent;  width: 64%;}
.form .submit-btn { font-size: 14px; margin-top: 10px; cursor: pointer; }

.dialog { z-index: 1000; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.5);display: flex; align-items: center; justify-content: center; }
.dialog > .container { max-width: 600px; width: 90%; position: relative; background-color: #fff; padding: 50px 20px 30px;}
.dialog .section-title { font-size: 26px; margin-bottom: 20px; text-align: center; }
.dialog .section-title::before { display: none; }
.dialog .tips { font-size: 14px; line-height: 1.8em; color: #666; text-align: center; margin-bottom: 20px; }
.dialog .menu-btn { z-index: 1; display: block; position: absolute; top: 15px; right: 15px; margin-top: 0;}
.M .dialog > .container { max-width: 400px; }
.M .dialog .section-title { font-size: 22px; margin-bottom: 20px; }
.S .dialog > .container { padding: 20px 10px; }
.S .dialog .section-title { font-size: 22px; margin-bottom: 15px; }

.menu-btn { cursor: pointer; display: none; box-sizing: border-box; float: right; width: 30px; height: 30px; padding: 3px 4px; border: 2px solid #96b521; background-color: #96b521; vertical-align: middle; transition: all 0.5s; margin-top: 15px; }
.menu-btn .line { width: 18px; height: 3px; background-color: #fff; margin-top: 3px; margin-bottom: 3px; transition: all 0.5s; }
.menu-btn.active .line-1 { transform-origin: 3px 5px; transform: rotate(45deg); }
.menu-btn.active .line-2 { background-color: transparent; }
.menu-btn.active .line-3 { transform-origin: 1px -3px; transform: rotate(-45deg); }

#shareDialog > .container { max-width: 600px;}
#shareDialog .s-l {
  width: 41px; height: 41px; border-radius: 50%;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  text-indent: -9999em;
  display: inline-block;
  margin: 27px;
}

.S #shareDialog .s-l { margin: 15px; }
#shareDialog .s-l.icon-f { background-image: url(../img/icon-f.png);}
#shareDialog .s-l.icon-w { background-image: url(../img/icon-w.png);}
#shareDialog .s-l.icon-i { background-image: url(../img/icon-i.png);}
#shareDialog .s-l.icon-t { background-image: url(../img/icon-t.png);}
#shareDialog .s-l.icon-f:hover { background-image: url(../img/icon-f-1.png);}
#shareDialog .s-l.icon-w:hover { background-image: url(../img/icon-w-1.png);}
#shareDialog .s-l.icon-i:hover { background-image: url(../img/icon-i-1.png);}
#shareDialog .s-l.icon-t:hover { background-image: url(../img/icon-t-1.png);}
